page-contact {
    .bck{
        background-color: rgb(240, 240, 240);
    }
    .ion-list{
        padding: 0%;
        margin: 0%;
    }
    .item-ios ion-avatar ion-img, .item-ios ion-avatar img{
        height: 50px;
        width: 50px
    }
}
